@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Rubik:wght@400;500;600;700&display=swap');

* {
  box-sizing: border-box;
}
body {
  background-color: aqua;
  /* position: relative;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh; */
}
